<div class="container" id="customers">
  <h3> Customers List </h3>
  <div class="text-right">
    <button class="btn btn-primary" ng-click="vm.openCustomerForm({})">
      <i class="glyphicon glyphicon-plus"></i> New Customer
    </button>
  </div>
  <br />
  <table class="table table-condensed table-hover table-responsive">
    <thead>
      <tr>
        <th> Name </th>
        <th> Address </th>
        <th> Contact Number </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="customer in vm.customers">
        <td> <a href="#" ng-bind="customer.name"></a> </td>
        <td ng-bind="customer.address"></td>
        <td ng-bind="customer.contactNumber"></td>
        <td>
          <button class="btn btn-default btn-sm" ng-click="vm.openCustomerForm(customer)">
            <i class="glyphicon glyphicon-edit"></i>
          </button>
          <button class="btn btn-danger btn-sm" ng-click="vm.deleteCustomer(customer.name, customer)">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
